.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
}

.main-content {
  background: var(--lightgrey-color);
  background: linear-gradient(180deg, var(--lightgrey-color) 0%, var(--lightgrey-color) 70%, var(--verylightgrey-color) 100%);
  margin: 0px;
  min-height: 100vh;
  position:absolute;
  left: 135px;
  width: calc(100% - 135px);
}