.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
}

.main-content {
  background-color: var(--lightgrey-color);
  margin: 0px;
  min-height: 100vh;
  position:absolute;
  left: 135px;
  width: calc(100% - 135px);
}