.main-content_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  height: 100%;
}

.main-content_about h1 {
  color: var(--primary-color);
  font-size: var(--hugexs-size);
  font-weight: bold;
  text-decoration: none;
}

.main-content_specialized {
  margin: var(--big-size) 0;
}

.main-content_specialized p {
  color: var(--almostwhite-color);
  font-size: var(--medium-size);
  text-decoration: none;
  margin: var(--large-size) 0;
  width: 50%;
}