.main-content_work {
  height: 100vh;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.main-content_work h1 {
  color: var(--primary-color);
  font-size: var(--hugexs-size);
  font-weight: bold;
  text-decoration: none;
}
